node_modules
.venv
.venv-*

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.envold

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.claude/*
.venv-pyautoflip